#main-img {
    height: 380px;
    width: 600px;
    border-radius: 24px;
}

#img-small{
    height: 120px;
    width: 176px;
    border-radius: 12px;
}

.property-image-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.small-img-container{
    margin-top: 20px;
    width: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

@media (min-width: 481px) and (max-width:768px){
    .property-image-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .small-img-container{
        display: flex;
        justify-content: center;
    }
}