.properties-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
    font-size: x-large;
}

.properties-wrapper {
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-around;
    padding-top: 30px;
}

@media (min-width: 481px) and (max-width:768px){
    .properties-container{
        flex-wrap: wrap;
        
    }

}
