.contact-form-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: azure;
    align-items: center;
    width: 80%;
    position: fixed; /* Stay in place */
    z-index: 5; /* Sit on top */
    left: 10%;
    top: 10%;
    
    
    height: 80%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
    width: 50%;
    margin: 50px;
}

.right-side{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    margin-top: 40px;
    padding-right: 10px;
}

#contact-pic{
    height: 77px;
    width: 69px;
    margin-left: 400px;
    margin-top: 30px;
}

.phone-box, .email-box, .name-box, .message-box, .select-box{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100px;
}

select{
    height: 50px;
    width: 60%px;
    border-radius: 12px;
}

.pic-container img{
    display: flex;
    
}

.message-box{
    height: 70%;
}

#message{
    height: 50%;
}

.submit{
    background-color: var(--button);
    color: var(--white);
    width: 100%;
}

.x-button{
    top: 5%;
    padding-left: 10px;
    padding-top: 10px;
    width: 100px;
    height: 100%;
    color: black;
}

.contact-header {
    color: black;
}

.contact-subtext {
    color: black;

}